@media {
    all();
}

html, body {
    width: auto;
}

h1 {
    font-family: 'Courgette', cursive;
}

h2 {
    font-family: 'Old Standard TT', serif;
}

img {
    padding: 4px;
    text-align: center;
}

i {
    float: left;
    padding: 30px;
}

#opening {
    background-image: url("../img/bRUkpo4.jpg");
    text-align: center;
    color: white;
    background-size: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 800px;
    width: 100%;
}

#opening {
    font-size: 30px;
}

#start {
    background-color: darkorange;
    padding: 4px;
    margin-top: 100px;
    text-align: left;
}

#ignore {
    text-align: right;
    padding: 4px;
    margin-top: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1.8s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}